<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>

  <!-- vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

  <!-- foglio di stile -->
  <link rel="stylesheet" href="style/style.css">

  <!-- link per le icone -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

</head>

<body >

  <!-- vue -->
  <div  id="container">

    <!-- input per digitare il testo -->
    <div class="list-container">
      <input @click="ciao" placeholder="Prendi nota" @keyup.enter="pushTodo" type="text" v-model="newTodo">
      <input @click="pushTodo" class="button-input" type="button" value="add">
    </div>

    <div class="list-contenuto">
      <ul class="list-center">

        <!-- creazione del ciclo -->
        <li v-for="(note, index) in todoList"
            v-bind:class="note.done === true ? through : '' "
            @click="note.done = !note.done"
            class="todo">

          <p>
            {{ note.text }}
          </p>



          <div class="cross" @click="cross(index)">
            <i class="fas fa-times"></i>
          </div>

        </li>

        <!-- Nel caso la array fosse vuota -->
        <li v-bind:class="todoList == 0 ? 'display-block' : 'display-none' ">Scrivi una nota</li>

      </ul>
    </div>

  </div>

  <script src="js/script.js"></script>
</body>
</html>