* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(7deg 86% 39%);
  font-size: 20px;
}

body{
  background-color: hsl(47deg 100% 79%);
}

.list-container {
  background-image: linear-gradient(
  321deg,
  hsl(0deg 100% 49%) 0%,
  hsl(8deg 100% 55%) 3%,
  hsl(17deg 100% 62%) 7%,
  hsl(25deg 100% 68%) 13%,
  hsl(33deg 100% 75%) 21%,
  hsl(42deg 100% 81%) 32%,
  hsl(50deg 100% 88%) 44%,
  hsl(51deg 100% 86%) 56%,
  hsl(47deg 100% 79%) 67%,
  hsl(43deg 100% 73%) 75%,
  hsl(40deg 100% 67%) 82%,
  hsl(36deg 100% 61%) 87%,
  hsl(33deg 100% 54%) 91%,
  hsl(27deg 98% 48%) 94%,
  hsl(17deg 92% 44%) 96%,
  hsl(7deg 86% 39%) 97%,
  hsl(357deg 79% 34%) 99%,
  hsl(347deg 73% 29%) 99%,
  hsl(337deg 67% 25%) 100%,
  hsl(327deg 61% 20%) 100%
  );
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 25px;
  border: transparent;
  box-shadow: 0px 0px 20px hsl(7deg 86% 39%);
}

input {
  line-height: 30px;
  padding: 0 20px;
  border-radius: 10px;
  border: transparent;
  box-shadow: 0px 0px 20px white;
  font-size: 20px;
}

.button-input {
  background-color: white;
}

.button-input:hover {
  background-color: hsl(7deg 86% 39%);
  color: hsl(47deg 100% 79%);
  box-shadow: 0px 0px 20px hsl(7deg 86% 39%);
}

.list-contenuto{
  padding: 50px 0;
  /* border: 1px solid black; */
}

.list-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.todo {
  border-bottom: 1px solid hsl(7deg 86% 39%);
  padding: 20px 0 5px 0;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.text-through {
  text-decoration: line-through;
}

